/*---------------------*/
/* global settings */
/*---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'arial' sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30;
}
h3{
    font-size: 21px;
}
p{
    font-size: 17px;
}


/*---------------------*/
/* hero section */
/*---------------------*/

.hero-section{
    margin-top: 10px;
    background: url(../img/top-banner.png);
    background-repeat: no-repeat;
}

.first-col-text{
    padding-top: 85px;
}

.name{
    color: orange;
}

.first-col-text h1{
    text-transform: uppercase;
}

.button{
    padding: 10px 30px;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.profile-photo img{
    width: 80%;
    float: right;
}

/*---------------------*/
/* section two start */
/*---------------------*/

.sec-two{
    background: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.sec2-col-one img{
    width: 80%;
}

.sec2-col-two{
    padding-top: 100px;
}

/*---------------------*/
/* section three start */
/*---------------------*/

.sec-three{
    background: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 100px 0 50px 0;
}

#exp{
    font-size: 45px;
    margin-left: 5%;
}

.dot{
    color: tomato;
}

.sec3-row{
    margin-top: 25px;
}

.skill-label{
    color: orange;
}

.experience-item{
    width: 40%;
    height: 80%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 5px;
}

#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#graphic-designer{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

/*---------------------*/
/* footer section */
/*---------------------*/
footer{
    margin-top: 100px;
}

footer p{
    text-align: center;
}